<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Line</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="titleNav">
    <script type="text/javascript" src="./js/navigation.js"></script>
  </div>

  <main>
    {{!-- Create Line Form --}}
    <h1>Create Line</h1>
    <form id="addLineForm-ajax">
      <label for="lineName-create">Line Name:</label><br>
      <input required type="text" id="lineName-create" name="lineName-create"><br>
      <br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/add_line.js"></script>
    <br>
    <hr>

    {{!-- Edit Line Form --}}
    <h1>Edit Line</h1>
    <form id="updateLineForm">
      <label for="lineUpdateDropdown">Select a line to update:</label><br>
        <select required name="lineUpdateDropdown" id="lineUpdateDropdown">
          <option ></option>
          {{#each linesAlphabetical}}
          <option value="{{this.line_ID}},{{this.line_name}}" id="{{this.line_ID}}">{{this.line_name}}</option>
          {{/each}}
        </select>
      <br><br>
      <script src="./js/populateEditLines.js"></script>

      <label for="lineID">Line ID Number (fixed):</label><br>
      <input required readonly="readonly" type="text" class="idNumForm" id="updateLineID" name="lineID" value="{{stationEdit.stationID}}"><br><br>
      <label for="lineName-edit">Line Name:</label><br>
      <input required type="text" id="updateLineName" name="updateLineName"><br>
      <br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/update_line.js"></script>
    <br><hr>

    <h1>Delete Line</h1>
    <table id="line_table" class="table-style">
      <thead>
        <tr>
          <th class="tableHeaderCell">Line ID</th>
          <th class="tableHeaderCell">Line Name</th>
        <th class="tableHeaderCell">Delete Line</th>
      </thead>
      <tbody id="lineTableBody">
        {{#each lines}}
        <tr id="deleteLine{{this.line_ID}}" data-name="{{this.line_name}}" data-value="{{this.line_ID}}">
          <td>{{this.line_ID}}</td>
          <td>{{this.line_name}}</td>
          <td><button onclick="deleteLine({{this.line_ID}})">Delete</button></td>
        </tr>
        {{/each}}
      </tbody>
      <script src="./js/delete_line.js"></script>
    </table>
    </main>
  </body>
</html>