<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Line</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="titleNav">
    <script type="text/javascript" src="./js/navigation.js"></script>
  </div>

  <main>
    {{!-- Create Line Form --}}
    <h1>Create Line</h1>
    <form id="addLineForm-ajax">
      <label for="lineName-create">Line Name:</label><br>
      <input required type="text" id="lineName-create" name="lineName-create"><br>
      <br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/add_line.js"></script>
    <br>
    <hr>

    {{!-- Edit Line Form --}}
    <h1>Edit Line</h1>
    <form id="updateLineForm">
      <label for="lineID-edit"></label>
        <select required name="lineID-edit" id="lineID-edit">
          <option value="">Line to Edit</option>
          {{#each data}}
          <option value="{{this.line_ID}}" id="{{this.line_ID}}">{{this.line_name}}</option>
          {{/each}}
        </select> <br>
      <br>
      <br>
      <label for="lineName-edit">Line Name:</label><br>
      <input required type="text" id="lineName-edit" name="lineName-edit"><br>
      <br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/update_line.js"></script>
    <br>
    <hr>

    {{!-- Create a table --}}
<table id="line_table" class="table-style">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the line_ID, line_name, start_station, end_station in order --}}
        {{#each data}}
        <tr data-value="{{this.line_ID}}">
            <td>{{this.line_ID}}</td>
            <td>{{this.line_name}}</td>
            <td><button onclick="deleteLine({{this.line_ID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_line.js"></script>
  </main>
</body>
</html>