<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Lines</title>
  <link rel="icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>
    <h1>Select Line to View Route</h1>
    <div class="dropdown">
      <button class="dropbtn">Lines</button>
      <div class="dropdown-content">
        {{#each lines}}
        <a href="/line_view?lineId={{this.line_ID}}" class="dropdown-entry">{{this.line_name}} Line</a>
        {{/each}}
      </div>
    </div>

    {{#if nonTerminalStations}}
      <br><br><br><br><hr><br>
        <h1>{{line_name}} Line</h1>
      <p><b>{{lineData.firstStation}}</b></p>
      {{#each nonTerminalStations}}
        <div>
          <p>{{this.location_name}}</p>
      {{/each}}
      <p><b>{{lineData.lastStation}}</b></p>
    {{/if}}
  </main>
  <footer>
    <a href="/index" id="footer">Back to home</a>
  </footer>
</body>

</html>
