<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Lines</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="titleNav">
    <script type="text/javascript" src="./js/navigation.js"></script>
  </div>
  
  <main>
    <h1>Select Line to View Route</h1>
    <div class="dropdown">
      <button class="dropbtn">Lines</button>
      <div class="dropdown-content">
        {{#each lines}}
        <a href="/line_view?lineId={{this.line_ID}}" class="dropdown-entry">{{this.line_name}} Line</a>
        {{/each}}
      </div>
    </div>

    {{#if stations}}
      <br><br><br><br><hr><br>
        <h1>{{line_name}} Line</h1>
      
      
       <! <img src="../imgs/{{line_code}}-{{firstStation.station_num}}.png" alt="{{firstStation.location_name}}" width="50" height="50">
      
      <div>
      {{#each stations}}
        {{#if @first}}
          <p class="stationName"></p><a href='/station_view?stationID={{this.station_ID}}'></p>
          <b>{{this.location_name}}</b></a>
        {{else if @last}}
          <p class="stationName"><a href='/station_view?stationID={{this.station_ID}}'>
          <b>{{this.location_name}}</b></a>
        {{else}}
          <p class="stationName"><a href='/station_view?stationID={{this.station_ID}}'>
          {{this.location_name}}</a></p>
        {{/if}}
      {{/each}}
      </div>
      
    {{/if}}
  </main>
  <script src="../js/index.js"></script>
</body>

</html>
