<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Line</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>


    {{!-- Create Line Form --}}
    <h1>Create Line</h1>
    <form id="addLineForm-ajax">
      <label for="lineName-create">Line Name:</label><br>
      <input type="text" id="lineName-create" name="lineName-create"><br>
      <br>
      <label for="startStation-create"></label>
        <select name="startStation-create" id="startStation-create">
          <option value="">Start Station</option>
          {{#each stations}}
          <option value="{{this.station_ID}}" id="{{this.station_ID}}">{{this.location_name}}</option>
          {{/each}}
        </select> <br>
      <br>
      <label for="endStation-create"></label><br>
      <select name="endStation-create" id="endStation-create">
          <option value="">End Station</option>
          {{#each stations}}
          <option value="{{this.station_ID}}" id="{{this.station_ID}}">{{this.location_name}}</option>
          {{/each}}
        </select> <br>
      <br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/add_line.js"></script>
    <br>
    <hr>

    {{!-- Edit Line Form --}}
    <h1>Edit Line</h1>
    <form id="updateLineForm">
      <label for="lineID-edit"></label>
        <select name="lineID-edit" id="lineID-edit">
          <option value="">Line to Edit</option>
          {{#each data}}
          <option value="{{this.line_ID}}" id="{{this.line_ID}}">{{this.line_name}}</option>
          {{/each}}
        </select> <br>
      <br>
      <br>
      <label for="lineName-edit">Line Name:</label><br>
      <input type="text" id="lineName-edit" name="lineName-edit"><br>
      <br>
      <label for="startStation-edit"></label><br>
      <select name="startStation-edit" id="startStation-edit">
          <option value="">Start Station</option>
          {{#each stations}}
          <option value="{{this.station_ID}}" id="{{this.station_ID}}">{{this.location_name}}</option>
          {{/each}}
        </select> <br>
      <br>
      <label for="endStation-edit"></label><br>
      <select name="endStation-edit" id="endStation-edit">
          <option value="">End Station</option>
          {{#each stations}}
          <option value="{{this.station_ID}}" id="{{this.station_ID}}">{{this.location_name}}</option>
          {{/each}}
        </select> <br>
      <br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/update_line.js"></script>
    <br>
    <hr>

    {{!-- Create a table --}}
<table id="line_table" class="table-style">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the line_ID, line_name, start_station, end_station in order --}}
        {{#each data}}
        <tr data-value="{{this.line_ID}}">
            <td>{{this.line_ID}}</td>
            <td>{{this.line_name}}</td>
            <td>{{this.start_station}}</td>
            <td>{{this.end_station}}</td>
            <td><button onclick="deleteLine({{this.line_ID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_line.js"></script>

  </main>
  <footer>
    <a href="/index" id="footer">Back to home</a>
  </footer>
</body>

</html>