<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Lines</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="titleNav">
    <script type="text/javascript" src="./js/navigation.js"></script>
  </div>
  
  <main>
    <h1>Select Line to View Route</h1>
    <div class="dropdown">
      <button class="dropbtn">Lines</button>
      <div class="dropdown-content">
        {{#each alphabeticalLines}}
        <a href="/line_view?lineId={{this.line_ID}}" class="dropdown-entry">{{this.line_name}} Line</a>
        {{/each}}
      </div>
    </div>

    {{#if stations}}
      <br><br><br><br><hr>
      <p id="lineTitle">
        <h1 id="lineName" class="line{{line_name}}">{{line_name}} Line</h1>
        {{!-- <h2>{{firstStation.location_name}} - {{lastStation.location_name}}</h2> --}}
      </p>
      
        <div id="stationsInLine">
        {{#each stations}}
          <a href='/station_view?stationID={{this.station_ID}}' id="stationButton" class="line{{../line_name}}">
            <div class="stationCircle line{{../line_name}}">
              <div class="stationText">{{../line_abbreviation}} {{this.station_num}}</div>
            </div>
            <div id="stationTitle">{{this.location_name}}</div>
          </a>
        {{/each}}
        </div>
    {{/if}}
  </main>
</body>
</html>
