<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Operator</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="titleNav">
    <script type="text/javascript" src="./js/navigation.js"></script>
  </div>
  <main>


    {{!-- Create Line Form --}}
    <h1>Create Operator</h1>
    <form id="addOperatorForm-ajax">
      <label for="operatorFname-create">First Name:</label><br>
      <input required type="text" id="operatorFname-create" name="operatorFname-create"><br>
      <br>
      <label for="operatorLname-create">Last Name:</label><br>
      <input required type="text" id="operatorLname-create" name="operatorLname-create"><br>
      <br>
      <label for="phone-create">Phone Number:</label><br>
      <input type="text" id="phone-create" name="phone-create"><br>
      <br>
      <label for="email-create">E-mail:</label><br>
      <input type="text" id="email-create" name="email-create"><br>
      <br>
      <label for="trainCode-create"></label>
        <select required name="trainCode-create" id="trainCode-create">
          <option value="">Train Code</option>
          {{#each trains}}
          <option value="{{this.train_ID}}" id="{{this.train_ID}}">{{this.train_ID}}</option>
          {{/each}}
        </select> <br>
      <br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/add_operator.js"></script>
    <br>
    <hr>

  {{!-- Update Operator Form --}}
    <h1>Edit Operator</h1>
    <form id="updateOpForm">
      <label for="selectName"></label>
        <select name="selectName" id="selectName">
          <option value="test">Select Operator</option>
          {{#each data}}
          <option value="{{this.operator_ID}}" id="{{this.operator_ID}}">{{this.first_name}} {{this.last_name}}</option>
          {{/each}}
        </select>
      <br>
      <br>
      <label for="firstName">First Name:</label><br>
      <input required type="text" id="update-firstName" name="update-firstName"><br>
      <br>
      <label for="lastName">Last Name:</label><br>
      <input required type="text" id="update-lastName" name="update-lastName"><br>
      <br>
      <label for="phoneNumber">Phone Number:</label><br>
      <input type="text" id="update-phoneNumber" name="update-phoneNumber"><br>
      <br>
      <label for="email">E-mail Address:</label><br>
      <input type="text" id="update-email" name="update-email"><br>
      <br>

      <label for="trainCode-edit"></label>
        <select required name="trainCode-edit" id="trainCode-edit">
          <option value="">Train Code</option>
          {{#each trains}}
          <option value="{{this.train_ID}}" id="{{this.train_ID}}">{{this.train_ID}}</option>
          {{/each}}
        </select> <br>
        <br>

      <input class="editButton" type="submit">
    </form>
    <script src="./js/update_operator.js"></script>
    <br>
    <hr>

{{!-- The Data from our Database --}}
{{!-- Create a table for Operator's Data --}}
<table id="operator_table" class="table-style" >

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the operator_ID, first_name, last_name, phone_number, email, train_code in order --}}
        {{#each data}}
        <tr data-value={{this.operator_ID}}>
            <td>{{this.operator_ID}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.phone_number}}</td>
            <td>{{this.email}}</td>
            <td>{{this.train_code}}</td>
            <td><button onclick="deleteOperator({{this.operator_ID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    <script src="./js/delete_operator.js"></script>
</table>
  </main>
  <br>
  <hr>
</body>
</html>