<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Operator</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="titleNav">
    <script type="text/javascript" src="./js/navigation.js"></script>
  </div>
  <main>


    {{!-- Create Line Form --}}
    <h1>Create Operator</h1>
    <form id="addOperatorForm-ajax">
      <label for="addOperatorFName">First Name:</label><br>
      <input required type="text" id="addOperatorFName" name="addOperatorFName"><br>
      <br>
      <label for="addOperatorLName">Last Name:</label><br>
      <input required type="text" id="addOperatorLName" name="addOperatorLName"><br>
      <br>
      <label for="addOperatorPhone">Phone Number:</label><br>
      <input type="text" id="addOperatorPhone" name="addOperatorPhone"><br>
      <br>
      <label for="addOperatorEmail">E-mail:</label><br>
      <input type="text" id="addOperatorEmail" name="addOperatorEmail"><br>
      <br>
      <label for="addOperatorTrain">Current train:</label><br>
        <select required name="addOperatorTrain" id="addOperatorTrain">
          <option value=""></option>
          {{#each trains}}
          <option value="{{this.train_ID}}" id="{{this.train_ID}}">{{this.train_ID}}</option>
          {{/each}}
        </select> <br>
      <br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/add_operator.js"></script>
    <br><hr>

    <h1>Edit Operator</h1>
    <form id="updateOpForm"><br>
      <label for="operatorUpdateDropdown">Select an operator to update:</label><br>
      <select required name="operatorUpdateDropdown" id="operatorUpdateDropdown">
        <option></option>
        {{#each data}}
          <option id="operator{{this.operator_ID}}" value="{{this.operator_ID}},{{this.first_name}},{{this.last_name}},{{this.phone_number}},{{this.email}},{{this.train_name}},{{this.train_code}}" id="operator{{this.operator_ID}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
      </select>
      <br><br>
      <script src="./js/populateEditOperator.js"></script>

      <label for="updateOperatorID">Operator ID Number (fixed):</label><br>
      <input required readonly="readonly" type="text" id="updateOperatorID" class="idNumForm" name="stationID"><br><br>
      <label for="firstName">First Name:</label><br>
      <input required type="text" id="update-firstName" name="update-firstName"><br>
      <br>
      
      <label for="lastName">Last Name:</label><br>
      <input required type="text" id="update-lastName" name="update-lastName"><br>
      <br>
      
      <label for="phoneNumber">Phone Number:</label><br>
      <input required type="text" id="update-phoneNumber" name="update-phoneNumber"><br>
      <br>
      
      <label for="email">E-mail Address:</label><br>
      <input type="text" id="update-email" name="update-email">
      <br><br>

      <label for="trainCode-edit">Current train:</label><br>
        <select required name="trainCode-edit" id="trainCode-edit">
          <option value=""></option>
          {{#each trains}}
          <option value="{{this.train_ID}}" id="{{this.train_ID}}">{{this.train_ID}}</option>
          {{/each}}
        </select> <br>
        <br>

      <input class="editButton" type="submit">
    </form>
    <script src="./js/update_operator.js"></script>
    <br><hr>
    <h1>Delete Operator</h1>

<table id="operator_table" class="table-style" >
    <thead>
    <tr>
      <th class="tableHeaderCell">Operator ID</th>
      <th class="tableHeaderCell">First Name</th>
      <th class="tableHeaderCell">Last Name</th>
      <th class="tableHeaderCell">Phone Number</th>
      <th class="tableHeaderCell">E-mail Address</th>
      <th class="tableHeaderCell">Current Train</th>
      <th class="tableHeaderCell">Delete Operator</th>
    </tr>
  </thead>
  <tbody id="operatorTableBody">
      {{#each data}}
      <tr data-value={{this.operator_ID}} id="operatorRow{{this.operator_ID}}">
          <td>{{this.operator_ID}}</td>
          <td>{{this.first_name}}</td>
          <td>{{this.last_name}}</td>
          <td>{{this.phone_number}}</td>
          <td>{{this.email}}</td>
          <td>{{this.train_name}}</td>
          <td><button onclick="deleteOperator({{this.operator_ID}})">Delete</button></td>
      </tr>
      {{/each}}
  </tbody>
  <script src="./js/delete_operator.js"></script>
</table>
  </main>
  <br>
  <hr>
</body>
</html>