<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Operators</title>
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>
    <h1>Select operator to view details:</h1>
    <div class="dropdown">
      <button class="dropbtn">Operators</button>
      <div class="dropdown-content">
      {{#each operators}}
        <a href="/operator_view?operatorID={{this.operator_ID}}" class="dropdown-entry">{{this.first_name}} {{this.last_name}}</a>
      {{/each}}
      </div>
    </div>

    {{#if operator}}
    <br><br><br><br><hr><br>
    <h1>Operator Profile:</h1>
    <div>
      <h2 class="data-header">First Name:</h2>
      <p class="data-content">{{operator.first_name}}</p>
      <h2 class="data-header">Last Name:</h2>
      <p class="data-content">{{operator.last_name}}</p>
      <h2 class="data-header">Phone Number:</h2>
      <p class="data-content">{{operator.phone_number}}</p>
      <h2 class="data-header">E-mail address:</h2>
      <p class="data-content">{{operator.email}};</p>
    </div>
    {{/if}}
  </main>
  <footer>
    <a href="/index" id="footer">Back to home</a>
  </footer>
  <script src="../../../js/index.js"></script>
</body>

</html>