<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Schedule</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <div class="titleNav">
    <script type="text/javascript" src="./js/navigation.js"></script>
  </div>
  
  <main>
    {{!-- Create Schedule Form --}}
    <h1>Create Schedule</h1>
    <form id="addScheduleForm-ajax">
      
      <label for="arrivalTime-create">Arrival Time:</label><br>
      <input required type="time" id="arrivalTime-create" name="arrivalTime-create"><br>
      <br>
      
      <label for="departureTime-create">Departure Time:</label><br>
      <input required type="time" id="departureTime-create" name="departureTime-create"><br>
      
      <label for="stationName-create"></label><br>
      <select required name="stationName-create" id="stationName-create">
          <option value="">Station Name</option>
          {{#each stations}}
          <option value="{{this.station_ID}}" id="{{this.station_ID}}">{{this.location_name}}</option>
          {{/each}}
        </select> <br>
      
      <label for="trainId-create"></label><br>
      <select required name="trainId-create" id="trainId-create">
          <option value="">Train ID</option>
          {{#each trains}}
          <option value="{{this.train_ID}}" id="{{this.train_ID}}">{{this.train_ID}}</option>
          {{/each}}
        </select> <br>
        <br>
      <input class="editButton" type="submit">
    </form>
     <script src="./js/add_schedule.js"></script>
    <br><hr>
    
    
    
    {{!-- Edit Schedule Form --}}
    <h1>Edit Schedule</h1>
    <form id="updateScheduleForm">
  
    <label for="schedule_ID-update"></label><br>
      <select required name="schedule_ID-update" id="schedule_ID-update">
          <option value="">Schedule ID</option>
          {{#each data}}
          <option value="{{this.schedule_ID}}" id="{{this.schedule_ID}}">{{this.schedule_ID}}</option>
          {{/each}}
        </select> <br>
        <br>
      
      <label for="arrivalTime-update">Arrival Time:</label><br>
      <input required type="time" id="arrivalTime-update" name="arrivalTime-update"><br>
      <br>
      
      <label for="departureTime-update">Arrival Time:</label><br>
      <input required type="time" id="departureTime-update" name="departureTime-update"><br>
      <br>
      
      <label for="stationName-update">Station Name:</label><br>
      <select required name="stationName-update" id="stationName-update">
          <option value="">Station Name</option>
          {{#each stations}}
          <option value="{{this.station_ID}}" id="{{this.station_ID}}">{{this.location_name}}</option>
          {{/each}}
        </select> <br>
      
      <label for="trainId-update"></label><br>
      <select required name="trainId-update" id="trainId-update">
          <option value="">Train ID</option>
          {{#each trains}}
          <option value="{{this.train_ID}}" id="{{this.train_ID}}">{{this.train_ID}}</option>
          {{/each}}
        </select> <br>
        <br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/update_schedule.js"></script>
    <br><hr><br>


{{!-- The Data from our Database --}}
{{!-- Create a table for Schedule's Data --}}
<table id="schedule_table" class="table-style" >

    {{!-- Header section --}}
    <thead>
      <tr>
        <th class="tableHeaderCell">Schedule ID</th>
        <th class="tableHeaderCell">Arrival Time</th>
        <th class="tableHeaderCell">Departure Time</th>
        <th class="tableHeaderCell">Station</th>
        <th class="tableHeaderCell">Train</th>
        <th class="tableHeaderCell">Delete Schedule</th>
      </tr>
    </thead>

    {{!-- Body section --}}
    <tbody id="scheduleTableBody">
        {{#each data}}
        <tr data-value={{this.schedule_ID}}>
            <td>{{this.schedule_ID}}</td>
            <td>{{this.arrival_time}}</td>
            <td>{{this.departure_time}}</td>
            <td>{{this.station_code}}</td>
            <td>{{this.train_code}}</td>
            <td><button onclick="deleteSchedule({{this.schedule_ID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    <script src="./js/delete_schedule.js"></script>
</table>
  </main>
  <br>
  <hr>
</body>
</html>

  </main>
</body>

</html>