<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Schedule</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <div class="titleNav">
    <script type="text/javascript" src="./js/navigation.js"></script>
  </div>
  <main>
    <h1>Create Schedule</h1>
    <form id="addScheduleForm-ajax">
      <label for="arrivalTime-create">Arrival Time:</label><br>
      <input required type="time" id="arrivalTime-create" name="arrivalTime-create"><br>
      <br>
      <label for="departureTime-create">Departure Time:</label><br>
      <input required type="time" id="departureTime-create" name="departureTime-create"><br>
      <label for="stationName-create"></label><br>
      <select required name="stationName-create" id="stationName-create">
          <option value="">Station Name</option>
          {{#each stations}}
          <option value="{{this.station_ID}}" id="{{this.station_ID}}">{{this.station_ID}}</option>
          {{/each}}
        </select> <br>
      <label for="trainId-create"></label><br>
      <select required name="trainId-create" id="trainId-create">
          <option value="">Train ID</option>
          {{#each trains}}
          <option value="{{this.train_ID}}" id="{{this.train_ID}}">{{this.train_ID}}</option>
          {{/each}}
        </select> <br>
        <br>
      <input class="editButton" type="submit">
    </form>
     <script src="./js/add_schedule.js"></script>
    <br><hr>
    
    
    
    
    <h1>Edit Schedule</h1>
    <form>
      <label for="scheduleId">Schedule ID:</label><br>
      <input required type="text" id="scheduleId" name="scheduleId"><br>
      <label for="arrivalTime">Arrival Time:</label><br>
      <input required type="time" id="arrivalTime" name="arrivalTime"><br>
      <label for="departureTime">Arrival Time:</label><br>
      <input required type="time" id="departureTime" name="departureTime"><br>
      <label for="stationName">Station Name:</label><br>
      <select required id="stationName" name="stationName">
        <option value="station">&lt;Station 1 &gt;</option>
        <option value="station">&lt;Station 2 &gt;</option>
        <option value="station">&lt;Station 3 &gt;</option>
        <option value="station">&lt;Station 4 &gt;</option>
        <option value="station">&lt;Station 5 &gt;</option>
        <option value="station">&lt;Station 6 &gt;</option>
        <option value="station">&lt;Station 7 &gt;</option>
        <option value="station">&lt;Station 8 &gt;</option>
        <option value="station">&lt;Station 9 &gt;</option>
        <option value="station">&lt;Station 10 &gt;</option>
      </select><br>
      <label for="trainId">Train Number:</label><br>
      <select required id="trainId" name="trainId">
        <option value="train">&lt;Train 1 &gt;</option>
        <option value="train">&lt;Train 2 &gt;</option>
        <option value="train">&lt;Train 3 &gt;</option>
        <option value="train">&lt;Train 4 &gt;</option>
        <option value="train">&lt;Train 5 &gt;</option>
        <option value="train">&lt;Train 6 &gt;</option>
        <option value="train">&lt;Train 7 &gt;</option>
        <option value="train">&lt;Train 8 &gt;</option>
        <option value="train">&lt;Train 9 &gt;</option>
        <option value="train">&lt;Train 10 &gt;</option>
      </select><br><br>
      <input class="editButton" type="submit">
    </form>
    <br><hr><br>

{{!-- The Data from our Database --}}
{{!-- Create a table for Schedule's Data --}}
<table id="schedule_table" class="table-style" >

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the schedule_ID, arrival_time, departure_time, station_code (FK), train_code (FK) in order --}}
        {{#each data}}
        <tr data-value={{this.schedule_ID}}>
            <td>{{this.schedule_ID}}</td>
            <td>{{this.arrival_time}}</td>
            <td>{{this.departure_time}}</td>
            <td>{{this.station_code}}</td>
            <td>{{this.train_code}}</td>
            <td><button onclick="deleteSchedule({{this.schedule_ID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    <script src="./js/delete_schedule.js"></script>
</table>
  </main>
  <br>
  <hr>
</body>
</html>

  </main>
</body>

</html>