<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Station</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="titleNav">
    <script type="text/javascript" src="./js/navigation.js"></script>
  </div>

  <main>
    <h1>Create Station</h1>
    <form id="addStationForm-ajax">
      <label for="stationName-create">Station Name:</label><br>
      <input required type="text" id="stationName-create" name="stationName-create"><br><br>
      <label for="lineID-create">Line Name:</label><br>
      <select required id="lineID-stationCreate" name="lineID-stationCreate">
        <option></option>
        {{#each linesAlphabetical}}
          <option value="{{this.line_ID}}">{{this.line_name}}</option>
        {{/each}}
      
      </select><br><br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/add_station.js"></script>
    <br><hr>

    <h1>Edit Station</h1>
    <form id="updateStationForm">
      <label for="stationUpdateDropdown">Select a station to update:</label><br>
      <select required id="stationUpdateDropdown" name="stationUpdateDropdown">
        <option></option>
        {{#each stationsAlphabetical}}
          <option data-value="{{this.station_ID}}" id="Station{{this.station_ID}}" value="{{this.station_ID}},{{this.location_name}},{{this.station_num}},{{this.line_name}},{{this.line_code}},{{this.row_num}}">{{this.location_name}} Station ({{this.line_name}} Line)</option>
        {{/each}}stationUpdateDropdown
      </select>
      <br><br>
      <script src="./js/populateEditStations.js"></script>

      <label for="stationID">Station ID Number (fixed):</label><br>
      <input required readonly="readonly" type="text" id="updateStationID" class="idNumForm" name="stationID" value="{{stationEdit.stationID}}"><br><br>
      <label for="stationName">Station Name:</label><br>
      <input required type="text" id="updateStationName" name="stationName" value="{{stationEdit.stationName}}"><br><br>
      <label for="stationId">Station Number (on line):</label><br>
      <input required type="number" id="updateStationNum" name="stationNum" value="{{stationEdit.stationNum}}"><br><br>
      <label for="updateLineIDName">Line Name:</label><br>
      <select required id="updateLineIDName" name="updateLineIDName">
        <option value="{{stationEdit.lineID}},{{stationEdit.line_name}}"></option>
        {{#each linesAlphabetical}}
          <option value="{{this.line_ID}},{{this.line_name}}">{{this.line_name}}</option>
        {{/each}}
      </select><br><br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/update_station.js"></script>
    <br><hr>
    <h1>Delete Station</h1>

<table id="station_table" class = "table-style">
  <thead>
    <tr>
      <th class="tableHeaderCell">Station ID</th>
      <th class="tableHeaderCell">Station Name</th>
      <th class="tableHeaderCell">Station Number</th>
      <th class="tableHeaderCell">Line Name</th>
      <th class="tableHeaderCell">Delete Station</th>
    </tr>
  </thead>
  <tbody id="stationTableBody">
    {{#each stations}}
    <tr data-value={{this.station_ID}}>
      <td>{{this.station_ID}}</td>
      <td>{{this.location_name}}</td>
      <td>{{this.station_num}}</td>
      <td>{{this.line_name}}</td>
      <td><button onclick="deleteStation({{this.station_ID}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
  <script src="./js/delete_station.js"></script>
</table>
<br>


</main>
</body>
</html>