<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Stations</title>
  <link rel="icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="titleNav">
    <script type="text/javascript" src="./js/navigation.js"></script>
  </div>

  <main>
    <h1>Select a station below to view its schedule:</h1>
    <div class="dropdown">
        {{#if curr_line}}
          <button class="dropbtn">
            {{curr_line.line_name}} Line
          </button>
        {{else}}
          <button class="dropbtn">
            Select Line
          </button>
        {{/if}}
      </button>
      <div class="dropdown-content">
        {{#if curr_line}}
          <a class="dropdown-entry">Select Line:</a>
        {{/if}}
        {{#each linesAlphabetical}}
          <a href="/station_view?lineID={{this.line_ID}}" class="dropdown-entry">{{this.line_name}}</a>
        {{/each}}
      </div>
    </div>

    <div class="dropdown">
      {{#if station}}
        <button class="dropbtn">{{station.location_name}} Station</button>
      {{else}}
        <button class="dropbtn">Select Station</button>
      {{/if}}
      
      <div class="dropdown-content">
      
      {{#if curr_line}}
        {{#if station}}
          <a class="dropdown-entry">Select Station:</a>
        {{/if}}
        {{#each lineStations}}
            <a href="/station_view?lineID={{../curr_line.line_ID}}&stationID={{this.station_ID}}" class="dropdown-entry">{{this.location_name}}</a>
        {{/each}}
      {{else}}
      <a class="dropdown-entry">Please select line</a>
      {{/if}}
      </div>
    </div>

    {{#if station}}
      <br><br><br><br><hr><br>
      <h1>{{station.location_name}} Station Information:</h1>
      <h2>{{station.line_name}} Line</h2>
      <h2>Schedule:</h2>
      {{#if schedules}}
        {{#each schedules}}
          <a href='/train_view?trainID={{this.train_code}}'><b>{{this.train_name}}</b></a>
            <p>Arrival: {{this.arrival_time}}</p>
            <p>Departure: {{this.departure_time}}</p>
            {{#if this.operator}}
            <p>Operator: {{this.operator}}</p>
            {{/if}}
          <br><br>
        {{/each}}
      {{else}}
      <p><h3>No schedule data is currently available</h3></p>
      {{/if}}
    {{/if}}
  </main>
</body>

</html>