<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Stations</title>
  <link rel="icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>
    <h1>Select station to view schedule:</h1>
    <div class="dropdown">
      <button class="dropbtn">Stations</button>
      <div class="dropdown-content">
      {{#each stations}}
        <a href="/station_view?stationID={{this.station_ID}}" class="dropdown-entry">{{this.location_name}}</a>
      {{/each}}
      </div>
    </div>

    {{#if station}}
      <br><br><br><br><hr><br>
      <h1>{{station.location_name}} Station Information:</h1>
      <h2>{{station.line_name}} Line</h2>
      <h2>Schedule:</h2>
      {{#if schedules}}
        {{#each schedules}}
          <b>{{this.train_name}}</b>
            <p>Arrival: {{this.arrival_time}}</p>
            <p>Departure: {{this.departure_time}}</p>
            {{#if this.operator}}
            <p>Operator: {{this.operator}}</p>
            {{/if}}
          <br><br>
        {{/each}}
      {{else}}
      <p><h3>No schedule data is currently available</h3></p>
      {{/if}}
    {{/if}}
  </main>
  <footer>
    <a href="/index" id="footer">Back to home</a>
  </footer>
  <script src="../../../js/index.js"></script>
</body>

</html>