<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Station</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>
    <h1>Create Station</h1>
    <form action="" method="post">
      <label for="stationName">Station Name:</label><br>
      <input type="text" id="stationName" name="stationName" value=""><br><br>
      <label for="lineName">Line Name:</label><br>
      <select id="lineID" name="lineID">
        {{#each lines}}
          <option value="{{this.line_ID}}">{{this.line_name}}</option>
        {{/each}}
      
      </select><br><br>
      <input class="editButton" type="submit">

    </form>
    <br>
    <hr>
    <h1>Edit Station</h1>
    <form id="updateStationForm">
      <select id="stationUpdateDropdown">
        <option>Select a station to update:</option>
        {{#each stationsAlphabetical}}
          <option value="{{this.station_ID}},{{this.location_name}},{{this.station_num}},{{this.line_name}}">{{this.location_name}} Station ({{this.line_name}} Line)</option>
        {{/each}}
      </select>
      <br><br>
      <script src="./js/populateEditStations.js"></script>

      <label for="stationID">Station ID Number (fixed):</label><br>
      <input readonly="readonly" type="text" id="updateStationID" name="stationID" value="{{stationEdit.stationID}}"><br><br>
      <label for="stationName">Station Name:</label><br>
      <input required type="text" id="updateStationName" name="stationName" value="{{stationEdit.stationName}}"><br><br>
      <label for="stationId">Station Number (on line):</label><br>
      <input required type="text" id="updateStationNum" name="stationNum" value="{{stationEdit.stationNum}}"><br><br>
      <label for="stationID">Current Line:</label><br>
      <input required readonly="readonly" type="text" id="updateLineName" name="lineID" value="{{stationEdit.lineName}}"><br><br>
      <select id="updateLineID" name="lineID">
        <option value="{{stationEdit.lineID}}">Select line to update:</option>
        {{#each lines}}
          <option value="{{this.line_ID}},{{this.line_name}}">{{this.line_name}}</option>
        {{/each}}
      </select><br><br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/update_station.js"></script>
    <br>
    <hr>

   {{!-- The Data from our Database --}}
{{!-- Create a table --}}
<table id="station_table" class = "table-style">
    <tbody>

        {{!-- For each row, print the line_ID, line_name, start_station, end_station--}}
        {{#each stations}}
        {{#if @first}}
        <tr>
          <td><u>Station ID</u></td>
          <td><u>Station Name</u></td>
          <td><u>Station Number</u></td>
          <td><u>Line Name</u></td>
        </tr>
        {{/if}}
        <tr data-value={{this.station_ID}}>
            <td>{{this.station_ID}}</td>
            <td>{{this.location_name}}</td>
            <td>{{this.station_num}}</td>
            <td>{{this.line_name}}</td>
            <td><button onclick="deleteStation({{this.station_ID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
  <script src="./js/delete_station.js"></script>
</table>
<br>


  </main>
  <footer>
    <a href="/index" id="footer">Back to home</a>
  </footer>
</body>

</html>