<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Trains</title>
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>
    <h1>Select train to view information:</h1>
    <div class="dropdown">
      <button class="dropbtn">Train</button>
      <div class="dropdown-content">
      {{#each trains}}
        <a href="/train_view?trainID={{this.train_ID}}" class="dropdown-entry">Train {{this.train_ID}} - {{this.model}}</a>
      {{/each}}
      </div>
    </div>

    {{#if train}}
    <br><br><br><br><hr><br>
    <h1>Train Profile:</h1>
    <div>
      <h2 class="data-header">ID Number:</h2>
      <p class="data-content">{{train.train_ID}}</p>
      <h2 class="data-header">Model:</h2>
      <p class="data-content">{{train.model}}</p>
      <h2 class="data-header">Last Service Date:</h2>
      <p class="data-content">{{train.last_service_date}}</p>
      <h2 class="data-header">Line:</h2>
      <p class="data-content">{{train.line_name}}</p>
      {{#if multiOps}}
        <h2 class="data-header">Operators:</h2>
      {{else}}
        <h2 class="data-header">Operator:</h2>
      {{/if}}
      {{#each operators}}
        <div><a href="/operator_view?operatorID={{this.operator_ID}}" class="data-content">
        {{this.last_name}} {{this.first_name}}
        </a></div><br>
      {{/each}}
    </div>
    </div>
    {{/if}}
  </main>
  <footer>
    <a href="/index" id="footer">Back to home</a>
  </footer>
  <script src="../../../js/index.js"></script>
</body>

</html>