<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Trains</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="titleNav">
    <script type="text/javascript" src="./js/navigation.js"></script>
  </div>

  <main>
    <h1>Create Train</h1>
    <form id="addTrainForm-ajax">
      <label for="addTrainModel">Model:</label><br>
      <input required type="text" id="addTrainModel" name="addTrainModel"><br>
      <br>
      <label for="addTrainServiceDate">Last Service Date:</label><br>
      <input required type="date" id="addTrainServiceDate" name="addTrainServiceDate"><br>
      <br>
      <label for="addTrainLineCode">Line Name:</label><br>
        <select required name="addTrainLineCode" id="addTrainLineCode">
          <option></option>
          {{#each lines}}
          <option value="{{this.line_ID}}" id="{{this.line_ID}}">{{this.line_name}}</option>
          {{/each}}
        </select> <br>
        <br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/add_train.js"></script><br>
    <hr>
    
    <h1>Edit Train</h1>
    <form id="updateTrainForm">
      <label for="updateTrainDropdown">Select train to update:</label><br>
      <select required name="updateTrainDropdown" id="updateTrainDropdown">
        <option></option>
        {{#each trains}}
        <option value="{{this.train_ID}},{{this.model}},{{this.last_service_date_HTML}},{{this.line_code}}" id="train{{this.train_ID}}">{{this.train_ID}} - {{this.model}} ({{this.line_name}} Line)</option>
        {{/each}}
      </select> 
      <script src="./js/populateEditTrains.js"></script><br>
      <br>
      <label for="updateTrainID">Train ID (fixed):</label><br>
      <input required readonly type="text" id="updateTrainID" class="idNumForm" name="updateTrainID"><br>
      <br>
      <label for="updateTrainModel">Model:</label><br>
      <input required type="text" id="updateTrainModel" name="updateTrainModel"><br>
      <br>
      <label for="updateTrainServiceDate">Last Service Date:</label><br>
      <input required type="date" id="updateTrainServiceDate" name="updateTrainServiceDate"><br>
      <br>
      <label for="updateTrainLineCode">Line Name:</label><br>
      <select required name="updateTrainLineCode" id="updateTrainLineCode">
        <option></option>
        {{#each lines}}
        <option value="{{this.line_ID}}" id="trainLine{{this.line_ID}}">{{this.line_name}}</option>
        {{/each}}
      </select>
      <br><br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/update_train.js"></script><br>
    <hr>

    <h1>Delete Train</h1>
    <table id="train_table" class ="table-style">
      <thead>
        <tr>
          <th class="tableHeaderCell">Train ID</th>
          <th class="tableHeaderCell">Train Name</th>
          <th class="tableHeaderCell">Last Service Date</th>
          <th class="tableHeaderCell">Line Name</th>
          <th class="tableHeaderCell">Delete Train</th>
        </tr>
      </thead>
      <tbody id="trainTableBody">
        {{#each trains}}
        <tr data-value={{this.train_ID}}>
          <td>{{this.train_ID}}</td>
          <td>{{this.model}}</td>
          <td>{{this.last_service_date_readable}}</td>
          <td>{{this.line_name}}</td>
          <td><button onclick="deleteTrain({{this.train_ID}})">Delete</button></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_train.js"></script><br>
    <br>
    <hr>
  </main>
</body>
</html>