<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Train</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>

    {{!-- Create Train Form --}}
    <h1>Create Train</h1>
    <form id="addTrainForm-ajax">
      <label for="trainModel">Model:</label><br>
      <input type="text" id="trainModel" name="trainModel"><br>
      <br>
      <label for="serviceDate">Last Service Date:</label><br>
      <input type="date" id="serviceDate" name="serviceDate"><br>
      <br>
      <label for="line_code"></label>
        <select name="line_code" id="line_code">
          <option value="">Select Line</option>
          {{#each lines}}
          <option value="{{this.line_ID}}" id="{{this.line_ID}}">{{this.line_name}}</option>
          {{/each}}
        </select> <br>
        <br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/add_train.js"></script>
    <br>
    
    
    <hr><h1>Edit Train</h1>
    <form>
      <label for="trainId">Train ID:</label><br>
      <input type="text" id="trainId" name="trainId"><br>
      <label for="model">Model:</label><br>
      <input type="text" id="model" name="model"><br>
      <label for="serviceDate">Last Service Date:</label><br>
      <input type="date" id="serviceDate" name="serviceDate"><br>
      <label for="lineName">Line Name:</label><br>
      <select id="lineName" name="lineName">
        <option value="line">Ginza</option>
        <option value="line">Marunouchi</option>
        <option value="line">Hibiya</option>
        <option value="line">Tozai</option>
        <option value="line">Chiyoda</option>
        <option value="line">Yurakucho</option>
        <option value="line">Hanzomon</option>
        <option value="line">Namboku</option>
        <option value="line">Fukutoshin</option>
      </select><br><br>
      <input class="editButton" type="submit">
    </form>
    <br>
    <hr>

      {{!-- Just some plain text --}}
{{!-- The Data from our Database --}}
{{!-- Create a table --}}
<table id="train_table" class = "table-style">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the train_ID, model, last_service_date, line_code, in order --}}
        {{#each data}}
        <tr data-value={{this.train_ID}}>
            <td>{{this.train_ID}}</td>
            <td>{{this.model}}</td>
            <td>{{this.last_service_date}}</td>
            <td>{{this.line_code}}</td>
            <td><button onclick="deleteTrain({{this.train_ID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_train.js"></script>
<br>
<br>
<hr>



  </main>
  <footer>
    <a href="/index" id="footer">Back to home</a>
  </footer>
</body>

</html>