<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Train</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>

    {{!-- Create Train Form --}}
    <h1>Create Train</h1>
    <form id="addTrainForm-ajax">
      <label for="trainModel">Model:</label><br>
      <input type="text" id="trainModel" name="trainModel"><br>
      <br>
      <label for="serviceDate">Last Service Date:</label><br>
      <input type="date" id="serviceDate" name="serviceDate"><br>
      <br>
      <label for="line_code"></label>
        <select name="line_code" id="line_code">
          <option value="">Select Line</option>
          {{#each lines}}
          <option value="{{this.line_ID}}" id="{{this.line_ID}}">{{this.line_name}}</option>
          {{/each}}
        </select> <br>
        <br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/add_train.js"></script>
    <br><hr>
    
    {{!-- Edit Train Form --}}
    <h1>Edit Train</h1>
    <form id="updateTrainForm">
      <label for="selectTrainID"></label><br>
      <select name="selectTrainID" id="selectTrainID">
          <option value=" ">Select Train ID</option>
          {{#each data}}
          <option value="{{this.train_ID}}" id="{{this.train_ID}}">{{this.train_ID}}</option>
          {{/each}}
        </select> <br>
        <br>
      <label for="trainModel-update">Model:</label><br>
      <input type="text" id="trainModel-update" name="trainModel-update"><br>
        <br>
      <label for="serviceDate-update">Last Service Date:</label><br>
      <input type="date" id="serviceDate-update" name="serviceDate-update"><br>
        <br>
      <label for="lineName"></label><br>
      <select name="lineName" id="lineName">
          <option value="">Select Line</option>
          {{#each lines}}
          <option value="{{this.line_ID}}" id="{{this.line_ID}}">{{this.line_name}}</option>
          {{/each}}
        </select> <br>
        <br>
      <input class="editButton" type="submit">
    </form>
    <script src="./js/update_train.js"></script>
    <br>
    <hr>

{{!-- Create a table --}}
<table id="train_table" class = "table-style">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the train_ID, model, last_service_date, line_code, in order --}}
        {{#each data}}
        <tr data-value={{this.train_ID}}>
            <td>{{this.train_ID}}</td>
            <td>{{this.model}}</td>
            <td>{{this.last_service_date}}</td>
            <td>{{this.line_code}}</td>
            <td><button onclick="deleteTrain({{this.train_ID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_train.js"></script>
<br>
<br>
<hr>



  </main>
  <footer>
    <a href="/index" id="footer">Back to home</a>
  </footer>
</body>

</html>